#gallerydiv{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width: 95%;
    margin: auto;
}


@media screen and (max-width:767px) {
    #gallerydiv{
    grid-template-columns: repeat(1,1fr);
   
    }
  }